@using System.Configuration
@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en" ng-app="application">
<head>
    <meta charset="utf-8" />
    <title>Simufit</title>
    <meta name="description" content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    @Styles.Render("~/Content/styles")
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <fb app-id="@ConfigurationManager.AppSettings["FacebookAppId"]"></fb>
    <section class="hbox stretch">
        <aside ng-include="'partials/sidebar.html'" class="bg-primary aside-sm" id="nav" ng-controller="SidebarCtrl"></aside>

        <div ng-view></div>
    </section>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/otherlibraries")
    @Scripts.Render("~/bundles/client")
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">
        Application.Constants.constant('configuration', {
            facebookAppId: '@ConfigurationManager.AppSettings["FacebookAppId"]'
            });
    </script>
</body>
</html>
